:root {
    --main-color: #333;
    --background-color: #78d4b6;
    --resume-color: #eee;
    --highlight: #01badf;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: var(--main-color);
    background-color: var(--background-color);
}

.highlight {
    color: var(--highlight);
}

.quote {
    font-style: italic;
}

.resume h2 {
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-bottom: 0.14em solid var(--main-color);
    margin-bottom: 0.6em;
}

.resume h3 {
    font-weight: 500;
}

.resume h4 {
    font-size: 0.8rem;
    margin-top: 0.15em;
}

.resume {
    width: 19cm;
    height: 29.7cm;
    background-color: var(--resume-color);
    border-radius: 0.8em;
    margin: 1.4em;
    padding: 2.4em;
    box-shadow: rgba(0, 0, 0, 15%) 0em 0em 1em 0.3em ;
}

.resume header > .name{
    text-transform: uppercase;
}

.resume header > .career {
    margin-top: 0.3em;
    font-weight: 600;
}

.resume header > .contacts{
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1em;
    display: flex;
    /*justify-content: space-between;*/
    gap: 3em;
}

svg {
    height: 14px;
    width: 14px;
}

.icon-container {
    margin-top: 0.15em;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.time {
    font-size: 0.7rem;
}

.experience > li {
    list-style: disc;
    margin-left: 1.2em;
    font-size: 0.8rem;
}

.name {

}

.columns-layout {
    margin-top: 1.4em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.columns-layout > .column-left {
    flex-basis: 60%;
}

.columns-layout > .column-right {
    flex-basis: 40%;
}

.columns-layout > section .column-item + .column-item {
    margin-top: 2em;
}

.column-item ul {
    margin-top: 0.3em;
}

.column-item ul li + li {
    margin-top: 0.6em;
}

.development-experience > li + li{
    border-top: 1px dashed rgba(50, 50, 50, 30%);
    margin-top: 0.6em;
    padding-top: 0.6em;
}
